{% extends 'base.html.twig' %}

{% block body %}

    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h3 class="page-title">
                Compare Price Directory
                <small></small>
            </h3>
            <ul class="page-breadcrumb breadcrumb" style="height: 36px;">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{ path('homepage') }}" style="color: #333 !important;">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="{{ path('report_compare_price_directory') }}" style="color: #333 !important;">Report</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#" style="color: #333 !important;">Compare Price</a>
                </li>
                <li class="pull-right" style="margin-right: -7px;">
                    <div data-placement="" style="font-family: 'Open Sans', sans-serif; color: #f5f5f5; padding-top: 8px;text-align: center;margin-top: -8px;width: 124%;background: #e02222;height: 36px;">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </div>
                </li>
            </ul>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>
    <!-- END PAGE HEADER-->

    <div class="row-fluid">
        <div class="span12">

            <form action="{{ path('report_compare_price_directory') }}" method="get" name="purchase_order_price_directory_excel_search" id="purchase_order_price_directory_excel_search" style="margin-bottom: 20px;">
                <div class="portlet-body flip-scroll">
                <table id="table_project_cost" class="table-striped table-condensed flip-content">
                    <tbody>
                    <tr>
                        <td class="numeric">
                            <div class="input-group input-small date date-picker" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                                <span class="input-group-btn"></span>
                                {{ form_widget(form.start_date, { 'attr': {'class': 'form-control start_date'} }) }}
                            </div>
                        </td>
                        <td class="numeric">
                            <div class="input-group input-small date date-picker" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                                <span class="input-group-btn"></span>
                                {{ form_widget(form.end_date, { 'attr': {'class': 'form-control end_date'} }) }}
                            </div>
                        </td>
                        <td class="numeric">
                            {{ form_widget(form.item, { 'attr': {'class': 'form-control select2AutoComplete fontColorBlack', 'placeholder': ' Select Item'} }) }}
                        </td>
                        <td class="numeric">
                            <input type="submit" value="Search" class="btn blue" style="margin-left: 50px;">
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </form>
        </div>

        <div class="span12">

            <div class="modal-footer fa-align-left">
                <input type="button" value="Export in excel" name="purchaseOrderPriceDirectoryReportExcel" id="purchaseOrderPriceDirectoryReportExcel" class="btn blue">
            </div>

            <div class="portlet-body flip-scroll">
                <table class="table-bordered table-striped table-condensed flip-content">
                    <thead class="flip-content"  style="background: #4b8df8">
                    <tr>
                        <th class="numeric">Sl</th>
                        <th class="numeric">Project Name</th>
                        <th class="numeric">Item Name</th>
                        <th class="numeric">Buyer</th>
                        <th class="numeric">Vendor</th>
                        <th class="numeric">Date</th>
                        <th class="numeric">Po No</th>
                        <th class="numeric">Brand Name</th>
                        <th class="numeric">Price</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in compareDirectoryReport %}
                    <tr>
                        <td class="numeric">{{ loop.index }}</td>
                        <td class="numeric">{{ item.project.projectName | default('...') }}</td>
                        <td class="numeric">{{ item.item.itemName | default('...') }}</td>
                        <td class="numeric">{{ item.purchaseOrder.buyer.username | default('...') }}</td>
                        <td class="numeric">{{ item.purchaseOrder.vendor.vendorName | default('...') }}</td>
                        <td class="numeric">{{ item.purchaseOrder.createdDate | date('d/m/Y') }} </td>
                        <td class="numeric">{{ item.purchaseOrder.id | default('') }}  </td>
                        <td class="numeric">{{ item.brand | default('') }}</td>
                        <td class="numeric">{{ item.price|number_format(2, '.', ',') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block documentready %}
    {#<script>#}
    {{ parent() }}

    var $url = Routing.generate('item_auto_complete');
    var queryStringObject = {{ app.request.query.all|json_encode|raw }};
    var selectedItemId = (queryStringObject && queryStringObject.search && queryStringObject.search.item) ? queryStringObject.search.item : '';
    $(".select2AutoComplete").select2({

        ajax: {
            url: $url,
            dataType: 'json',
            delay: 250,
            data: function (params, page) {
                return {
                    q: params,
                    page_limit: 100
                };
            },
            results: function (data, page) {
                return {
                    results: data
                };
            },
            cache: true
        },
        escapeMarkup: function (m) {
            return m;
        },
        formatResult: function(item){ return item.text}, // omitted for brevity, see the source of this page
        formatSelection: function(item){return item.text}, // omitted for brevity, see the source of this page
        initSelection: function(element, callback) {
            $.ajax({
                url: $url,
                data: 'item=' + selectedItemId,
                dataType: 'json'
            }).done(function(data){
                callback(data);
            });
        },
        allowClear: true,
        minimumInputLength:1
    });

    $('#purchaseOrderPriceDirectoryReportExcel').click(function () {

        setTimeout(function () {
            $('#purchase_order_price_directory_excel_search').attr('action', '{{ path('report_compare_price_directory') }}');
        }, 1000);

        $.ajax({
            form: 'purchase_order_price_directory_excel_search',
            url: Routing.generate('report_compare_price_directory_excel'),
            dataType: 'form html'
        });
    });

{% endblock %}