{% extends 'base.html.twig' %}

{% block body %}
<style>
    .anchorClass{
        color:#000000!important;
        line-height:5px;
        text-decoration: underline;
        cursor:pointer;
        font-weight:bolder;
        font-size:11px;
    }
</style>
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h3 class="page-title">
                Item Over View
                <small></small>
            </h3>
            <ul class="page-breadcrumb breadcrumb" style="height: 36px;">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{ path('homepage') }}" style="color: #333 !important;">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="{{ path('report_item_over_view_report_bundle') }}" style="color: #333 !important;">Report</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#" style="color: #333 !important;">Item Over View</a>
                </li>
                <li class="pull-right" style="margin-right: -7px;">
                    <div data-placement="" style="font-family: 'Open Sans', sans-serif; color: #f5f5f5; padding-top: 8px;text-align: center;margin-top: -8px;width: 124%;background: #e02222;height: 36px;">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </div>
                </li>
            </ul>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>
    <!-- END PAGE HEADER-->

    <div class="row-fluid">
        <div class="span12">
        <form action="{{ path('report_item_over_view_report_bundle') }}" method="get" name="item_over_view_report" id="item_over_view_report" style="margin-bottom: 20px;">
            <div class="portlet-body flip-scroll">
                <table id="table_project_cost" class="table-striped table-condensed flip-content">
                    <tbody>
                    <tr class="numeric">
                        <td>
                            <div class="input-group input-small date date-picker" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                                <span class="input-group-btn"></span>
                                {{ form_widget(form.start_date, { 'attr': {'class': 'form-control start_date'} }) }}
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-small date date-picker" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                                <span class="input-group-btn"></span>
                                {{ form_widget(form.end_date, { 'attr': {'class': 'form-control end_date'} }) }}
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-medium">
                                {{ form_widget(form.item, { 'attr': {'class': 'form-control fontColorBlack select2AutoComplete', 'placeholder': ' Select Item'} }) }}
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-medium">
                                {{ form_widget(form.project, { 'attr': {'class': 'form-control select2me fontColorBlack', 'placeholder': ' Select Item'} }) }}
                            </div>
                        </td>
                        <td>
                            <input type="submit" value="Search" class="btn blue" style="margin-left: 50px;">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>

    <div class="span12">

        <div class="modal-footer" style="border-top:none;text-align:left;margin-bottom:10px;width: 100%;">
            <input type="button" value="Export in excel" name="itemOverViewReportExcel" id="itemOverViewReportExcel" class="btn blue">
        </div>

        <div class="portlet-body flip-scroll">
            <table class="table-bordered table-striped table-condensed flip-content">
                <thead class="flip-content"  style="background: #4b8df8">
                <tr class="numeric">
                    <th>Sl</th>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Project Summary</th>
                </tr>
                </thead>
                <tbody>

            {% if itemUses.params['search']['start_date'] is defined
            and itemUses.params['search']['end_date'] is defined %}
                {% set start_date = itemUses.params['search']['start_date'] %}
                {% set end_date = itemUses.params['search']['end_date'] %}
            {% else %}
                {% set start_date = 0 %}
                {% set end_date = 0 %}
            {% endif %}
            {% if itemUses.params['search']['project'] is defined %}
                {% set project = itemUses.params['search']['project'] %}
            {% else %}
                {% set project = 0 %}
            {% endif %}

            {% for itemUse in itemUses %}
                <tr class="numeric">
                    <td>{{ loop.index }}.</td>
                    <td>{{ itemUse.itemName }}</td>
                    <td>
                        <a style="color: #000000!important;"  target="_blank" href="{{ path('report_item_over_view_wise_item_details', {'item': itemUse.id, 'project': project, 'start_date': start_date, 'end_date': end_date }) }}">
                            {{ itemUse.quantity }} {{ itemUse.itemUnit }}
                        </a>
                    </td>
                    <td>
                        <a style="color: #000000!important;" target="_blank" href="{{ path('report_item_over_view_wise_item_details', {'item': itemUse.id, 'project': project, 'start_date': start_date, 'end_date': end_date }) }}">
                            {{ itemUse.total|number_format(2, '.', ',') }}
                        </a>
                    </td>
                    <td>
                        <table class="table-bordered table-striped table-condensed flip-content">
                            <thead style="background: #4b8df8;color: #fff;">
                                <tr class="numeric">
                                    <th></th>
                                    <th colspan="3">Highest</th>
                                    <th colspan="3">Lowest</th>
                                    <th colspan="3">Last</th>
                                </tr>
                                <tr class="numeric">
                                    <th class="numeric">Project Name</th>
                                    <th class="numeric">Date</th>
                                    <th class="numeric">PO</th>
                                    <th class="numeric">Price</th>
                                    <th class="numeric">Date</th>
                                    <th class="numeric">PO</th>
                                    <th class="numeric">Price</th>
                                    <th class="numeric">Date</th>
                                    <th class="numeric">PO</th>
                                    <th class="numeric">Price</th>
                                </tr>
                            </thead>
                            {% for ps in itemUse.projectSummary %}
                                {% if form.vars['value']['project'].id is defined %}
                                    {% if form.vars['value']['project'].id == ps.projectId %}
                                    <tr class="numeric">
                                        <td class="numeric">{{ ps.projects_name }}</td>
                                        <td class="numeric">{{ ps.max_price_date | date('Y-M-d') }}</td>
                                        <td class="numeric">
                                            <a href="/purchase-order/details-others/{{ ps.max_poId }}" class="anchorClass" target="_blank">
                                                {{ ps.max_poId }}
                                            </a>
                                        </td>
                                        <td class="numeric">{{ ps.projectHighest|number_format(2, '.', ',') }} </td>
                                        <td style="text-align: left;border-left: 1px solid #808080;">{{ ps.min_price_date | date('Y-M-d') }}</td>
                                        <td class="numeric">
                                            <a href="/purchase-order/details-others/{{ ps.min_poId }}" class="anchorClass" target="_blank">
                                                {{ ps.min_poId }}
                                            </a>
                                        </td>
                                        <td class="numeric">{{ ps.projectLowest|number_format(2, '.', ',') }}</td>
                                        <td class="numeric">{{ ps.dateMax | date('Y-M-d') }}</td>
                                        <td class="numeric">
                                            <a href="/purchase-order/details-others/{{ ps.last_poId }}" class="anchorClass" target="_blank">
                                                {{ ps.last_poId }}
                                            </a>
                                        </td>
                                        <td class="numeric">{{ ps.last_price|number_format(2, '.', ',') }}</td>
                                    </tr>
                                    {% endif %}
                                {% else %}
                                    <tr class="numeric">
                                        <td class="numeric">{{ ps.projects_name }}</td>
                                        <td class="numeric">{{ ps.max_price_date | date('Y-M-d') }}</td>
                                        <td class="numeric">
                                            <a href="/purchase-order/details-others/{{ ps.max_poId }}" class="anchorClass" target="_blank">
                                                {{ ps.max_poId }}
                                            </a>
                                        </td>
                                        <td class="numeric">{{ ps.projectHighest|number_format(2, '.', ',') }}</td>
                                        <td class="numeric">{{ ps.min_price_date | date('Y-M-d') }}</td>
                                        <td class="numeric">
                                            <a href="/purchase-order/details-others/{{ ps.min_poId }}" class="anchorClass" target="_blank">
                                                {{ ps.min_poId }}
                                            </a>
                                        </td>
                                        <td class="numeric">{{ ps.projectLowest|number_format(2, '.', ',') }}</td>
                                        <td class="numeric">{{ ps.dateMax | date('Y-M-d') }}</td>
                                        <td class="numeric">
                                            <a href="/purchase-order/details-others/{{ ps.last_poId }}" class="anchorClass" target="_blank">
                                                {{ ps.last_poId }}
                                            </a>
                                        </td>
                                        <td class="numeric">{{ ps.last_price|number_format(2, '.', ',') }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
            <div class="navigation" style="text-align: right">
                {{ knp_pagination_render(itemUses) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block documentready %}
    {#<script>#}
    {{ parent() }}

    var $url = Routing.generate('item_auto_complete');
    var queryStringObject = {{ app.request.query.all|json_encode|raw }};
    var selectedItemId = (queryStringObject && queryStringObject.search && queryStringObject.search.item) ? queryStringObject.search.item : '';
    $(".select2AutoComplete").select2({

        ajax: {

            url: $url,
            dataType: 'json',
            delay: 250,
            data: function (params, page) {
                return {
                    q: params,
                    page_limit: 100
                };
            },
            results: function (data, page) {
                return {
                    results: data
                };
            },
            cache: true
        },
        escapeMarkup: function (m) {

            return m;
        },
        formatResult: function(item){ return item.text}, // omitted for brevity, see the source of this page
        formatSelection: function(item){return item.text}, // omitted for brevity, see the source of this page
        initSelection: function(element, callback) {
            $.ajax({
                url: $url,
                data: 'item=' + selectedItemId,
                dataType: 'json'
            }).done(function(data){
                callback(data);
            });
        },
        allowClear: true,
        minimumInputLength:1
    });

    $('#itemOverViewReportExcel').click(function () {

    setTimeout(function(){
    $('#item_over_view_report').attr('action', '{{ path('report_item_over_view_report_bundle') }}');
    }, 1000);

    $.ajax({
    form: 'item_over_view_report',
    url: Routing.generate('report_item_over_view_report_bundle_excel'),
    dataType: 'form html'
    });
    });

{% endblock documentready %}