{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .highcharts-button{
            display: none;
        }
    </style>
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h3 class="page-title">
                Price Compare
                <small></small>
            </h3>
            <ul class="page-breadcrumb breadcrumb" style="height: 36px;">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{ path('homepage') }}" style="color: #333 !important;">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="{{ path('report_price_compare') }}" style="color: #333 !important;">Report</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#" style="color: #333 !important;"> Price Compare</a>
                </li>
                <li class="pull-right">
                    <div id="" class="" data-placement="" style="font-family: 'Open Sans', sans-serif; color: #f5f5f5; padding-top: 8px;text-align: center;margin-top: -8px;width: 124%;background: #e02222;height: 36px;">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </div>
                </li>
            </ul>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>
    <!-- END PAGE HEADER-->

    <div class="row-fluid">

        <div class="span12">
            <form method="get" style="margin-bottom: 20px;margin-left: -15px;margin-top: -20px;">

              <table>
                    <tbody>
                    <tr>
                        <td class="numeric">
                            <div class="form-group">
                    <div class="col-md-2">
                        <div class="input-icon">
                            <div class="input-group input-small date date-picker" data-date-format="yyyy-mm-dd" data-date-minviewmode="months" data-date-viewmode="years">
                                <span class="input-group-btn"></span>
                                {{ form_widget(form.month, { 'attr': {'class': 'form-control datepicker', 'style': 'width: 197px;'} }) }}
                            </div>
                        </div>
                    </div>
                </div>

                        </td>
                        <td class="numeric">
                                            <div class="form-group">
                    <div class="col-md-2">
                        <div class="input-icon">
                            <div class="input-group input-medium">
                                {{ form_widget(form.item, { 'attr': {'class': 'form-control fontColorBlack select2AutoComplete', 'placeholder': ' Select Item'} }) }}
                            </div>
                        </div>
                    </div>
                </div>
                        </td>
                        <td class="numeric">
                           <div class="form-group">
                    <div class="col-md-2">
                        <div class="input-icon">
                            <div class="input-group input-medium">
                                {{ form_widget(form.project, { 'attr': {'class': 'form-control select2me fontColorBlack', 'placeholder': ' Select Item'} }) }}
                            </div>
                        </div>
                    </div>
                </div>
                        </td>
                        <td class="numeric">
                            <input type="submit" value="Search" class="btn blue" style="margin-left: 55px;">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
            <!--BEGIN TABS-->
        <div class="span12">

            {#<div class="modal-footer" style="border-top:none;text-align:left;margin-bottom:10px;width: 100%;">#}
                {#<input type="button" value="Export in excel" name="itemOverViewReportExcel" id="itemOverViewReportExcel" class="btn blue">#}
            {#</div>#}

            <div class="portlet-body flip-scroll">
                {% if priceCompare[0] is defined %}
                <table class="table-bordered table-striped table-condensed flip-content">

                    <thead style="background: #4b8df8;color: #fff;">
                    <tr class="numeric">
                        <th>Month</th>
                        <th>Sl</th>
                        <th>Item</th>
                        <th>Project</th>
                        <th>Unit</th>
                        <th>PONo</th>
                        <th>Type</th>
                        <th>Quantity</th>
                        <th>Rate</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for index, data in priceCompare[0] %}

                        <tr>
                            <td class="numeric">{{ monthArray[0] | date('M Y') }}</td>
                            <td class="numeric">{{ index + 1 }}.</td>
                            <td class="numeric">{{ data.item.itemName }}</td>
                            <td class="numeric">{{ data.project.projectName }}</td>
                            <td class="numeric">{{ data.item.itemUnit }}</td>
                            <td class="numeric">{{ data.purchaseOrder.id }}</td>
                            <td class="numeric">{% if data.purchaseOrder.paymentFrom == 1 %} Head {% else %} Local {% endif %}</td>
                            <td class="numeric">{{ data.quantity }}</td>
                            <td class="numeric">{{ data.price }}</td>
                        </tr>

                    {% endfor %}
                    {% endif %}
{% if priceCompare[1] is defined %}
                <table class="table-bordered table-striped table-condensed flip-content">
                    <thead style="background: #4b8df8;color: #fff;">
                    <tr class="numeric">
                        <th>Month</th>
                        <th>Sl</th>
                        <th>Date</th>
                        <th>Item</th>
                        <th>Project</th>
                        <th>Unit</th>
                        <th>PONo</th>
                        <th>Type</th>
                        <th>Quantity</th>
                        <th>Rate</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for index, data in priceCompare[1] %}

                        <tr>
                            <td class="numeric">{{ monthArray[1] | date('M Y') }}</td>
                            <td class="numeric">{{ index + 1 }}.</td>
                            <td class="numeric">{{ data.purchaseOrder.createdDate|date('Y-m-d') }}.</td>
                            <td class="numeric">{{ data.item.itemName }}</td>
                            <td class="numeric">{{ data.project.projectName }}</td>
                            <td class="numeric">{{ data.item.itemUnit }}</td>
                            <td class="numeric">{{ data.purchaseOrder.id }}</td>
                            <td class="numeric">{% if data.purchaseOrder.paymentFrom == 1 %} Head {% else %} Local {% endif %}</td>
                            <td class="numeric">{{ data.quantity }}</td>
                            <td class="numeric">{{ data.price }}</td>
                        </tr>

                    {% endfor %}

                    </tbody>
                    </table>
{% endif %}

                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <!--END TABS-->

{% endblock %}

{% block documentready %}

    {{ parent() }}

    $(".datepicker").datepicker( {
    format: "yyyy-mm-01",
    viewMode: "months",
    minViewMode: "months"
    });

    var $url = Routing.generate('item_auto_complete');
    var queryStringObject = {{ app.request.query.all|json_encode|raw }};
    var selectedItemId = (queryStringObject && queryStringObject.search && queryStringObject.search.item) ? queryStringObject.search.item : '';
    $(".select2AutoComplete").select2({

        ajax: {

            url: $url,
            dataType: 'json',
            delay: 250,
            data: function (params, page) {
                return {
                    q: params,
                    page_limit: 100
                };
            },
            results: function (data, page) {
                return {
                    results: data
                };
            },
            cache: true
        },
        escapeMarkup: function (m) {

            return m;
        },
        formatResult: function(item){ return item.text}, // omitted for brevity, see the source of this page
        formatSelection: function(item){return item.text}, // omitted for brevity, see the source of this page
        initSelection: function(element, callback) {
            $.ajax({
                url: $url,
                data: 'item=' + selectedItemId,
                dataType: 'json'
            }).done(function(data){
                callback(data);
            });
        },
        allowClear: true,
        minimumInputLength:1
    });

{% endblock documentready %}