{% extends 'base.html.twig' %}

{% block body %}

    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h3 class="page-title">
                Project Spend Sub-Category Wise
                <small></small>
            </h3>
            <ul class="page-breadcrumb breadcrumb" style="height: 36px;">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{ path('homepage') }}" style="color: #333 !important;">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="{{ path('report_project_spend_sub_category_wise') }}" style="color: #333 !important;">Report</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#" style="color: #333 !important;">Project Spend</a>
                </li>
                <li class="pull-right">
                    <div id="" class="" data-placement="" style="font-family: 'Open Sans', sans-serif; color: #f5f5f5; padding-top: 8px;text-align: center;margin-top: -8px;width: 124%;background: #e02222;height: 36px;">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </div>
                </li>
            </ul>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>
    <!-- END PAGE HEADER-->

    <div class="row-fluid">
        <div class="span12">
        <form action="{{ path('report_project_spend_sub_category_wise') }}" method="get" name="project_spend_sub_category_wise" id="project_spend_sub_category_wise" style="margin-bottom: 20px;">
            <div class="portlet-body flip-scroll">
            <table id="table_project_cost" class="table-striped table-condensed flip-content">
                <tbody>
                <tr class = "numeric">
                    <td>
                        <div class="input-group input-small date date-picker" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                            <span class="input-group-btn"></span>
                            {{ form_widget(form.start_date, { 'attr': {'class': 'form-control start_date'} }) }}
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="col-md-1">
                                <div class="input-icon right">
                                    <span style="font-size: 15px;font-weight: bolder;line-height: 30px;">To</span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-small date date-picker" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                            <span class="input-group-btn"></span>
                            {{ form_widget(form.end_date, { 'attr': {'class': 'form-control end_date'} }) }}
                        </div>
                    </td>
                    <td>
                        <input type="submit" value="Search" class="btn blue" style="margin-left: 55px;">
                    </td>

                </tr>
                </tbody>
            </table>
                </div>
        </form>

    </div>

        <div class="span12">
        <div class="modal-footer" style="border-top:none;text-align:left;margin-bottom:10px;width: 100%;">
            <input type="button" value="Export in excel" name="projectSpendReportExcel" id="projectSpendReportExcel" class="btn blue">
        </div>
            <div class="portlet-body flip-scroll">
            <table class="table table-bordered table-striped table-condensed flip-content responsiveDiv">
                <thead class="flip-content tableHeadColor">
                <tr>
                    <td class="numeric"></td>
                    <th class="numeric">Sl</th>
                    <th class="numeric">Project</th>
                    <th class="numeric">Area</th>
                    <th class="numeric">Spend Amount</th>
                </tr>
                </thead>
                <tbody>

                {% for index, projectCostItem in purchaseOrderItems %}
                    <tr>
                        <td class="numeric"><span id="{{ index + 1 }}" class="toggle  row-details row-details-close" style="cursor:pointer;"><span>[+]</span></span></td>
                        <td class="numeric">{{ index + 1 }}</td>
                        <td class="numeric">{{ projectCostItem.projectName }}</td>
                        <td class="numeric">{{ projectCostItem.areaName|default }}</td>
                        {#<td class="numeric">{{ projectCostItem.total|number_format(2, '.', ',') }}</td>#}
                        <td><a class="btn" style="text-decoration:underline" target="_blank"
                           href ="{{ path('report_project_spend_sub_category_wise_detail',
                           {start_date: app.request.get('search[start_date]', null, true),
                               end_date: app.request.get('search[end_date]', null, true),
                               projectId:projectCostItem.projectId,
                           }) }}" >

                            {{ projectCostItem.total|number_format(2, '.', ',') }}
                        </a></td>
                    </tr>

                    <tr class="showing-overview" id="show-{{ index + 1 }}" style="display: none;">
                        <td colspan="9">
                            <table class="inner-table" style="width: 100%">
                                {% for subCategory in subCategories %}
                                    <tr class="inner-numeric"><td>{{ subCategory.subCategoryName }}</td>
                                        {% if projectCostItem.typeSummary[subCategory.id] is defined %}
                                            <td class="numeric"><a href=" {{ path('report_project_spend_sub_category_wise_item_details', { 'project':projectCostItem.projectId ,'subCategory':subCategory.id,'startDate': data.start_date ,'endDate': data.end_date  }) }}">{{ projectCostItem.typeSummary[subCategory.id]|number_format(2, '.', ',') }}</a></td>
                                        {% else %}
                                            <td class="numeric">0</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>

                {% endfor %}

                </tbody>
            </table>
                </div>
    </div>

</div>
    <style>
        .numeric a{
            color: #000!important;
        }
    </style>
{% endblock %}

{% block documentready %}
    {{ parent() }}

    $(".toggle").click(function(){
    var id = $(this).attr('id');
    //$('.showing-overview').hide();
    $("#show-"+id).slideToggle(100);
    }).toggle( function() {
    $(this).children("span").text("[-]");
    }, function() {
    $(this).children("span").text("[+]");
    });

    $('#projectSpendReportExcel').click(function () {

    setTimeout(function(){
    $('#project_spend_sub_category_wise').attr('action', '{{ path('report_project_spend_sub_category_wise') }}');
    }, 1000);

    $.ajax({
    form: 'project_spend_sub_category_wise',
    url: Routing.generate('report_project_spend_sub_category_wise_excel'),
    dataType: 'form html'
    });
    });

{% endblock %}