{% extends 'base.html.twig' %}

{% block body %}

    <!-- BEGIN PAGE HEADER-->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h3 class="page-title">
                Supplier Payment Report
                <small></small>
            </h3>
            <ul class="page-breadcrumb breadcrumb" style="height: 36px;">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{ path('homepage') }}" style="color: #333 !important;">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="{{ path('report_supplier_payment') }}" style="color: #333 !important;">Report</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#" style="color: #333 !important;">Supplier Payment Report</a>
                </li>
                <li class="pull-right" style="margin-right: -5px;">
                    <div data-placement="" style="font-family: 'Open Sans', sans-serif; color: #f5f5f5; padding-top: 8px;text-align: center;margin-top: -8px;width: 124%;background: #e02222;height: 36px;">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </div>
                </li>
            </ul>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>
    <!-- END PAGE HEADER-->

<div class="row">
    <div class="col-md-12">

        <form method="get" name="supplier_payment_report" id="supplier_payment_report">

            <table id="table_project_cost">
                <tbody>
                <tr>
                   {# <td>
                        <div class="input-group input-small date date-picker" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                            <span class="input-group-btn"></span>
                            {{ form_widget(form.start_date, { 'attr': {'class': 'form-control start_date'} }) }}
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="col-md-1">
                                <div class="input-icon right">
                                    <span style="font-size: 15px;font-weight: bolder;line-height: 30px;">To</span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-small date date-picker" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                            <span class="input-group-btn"></span>
                            {{ form_widget(form.end_date, { 'attr': {'class': 'form-control end_date'} }) }}
                        </div>
                    </td>#}
                    <td>
                        {#<div class=" input-medium">
                            {{ form_widget(form.vendor, { 'attr': {'class': 'form-control select2me', 'placeholder': ' Select vendor'} }) }}
                        </div>#}
                        <div class=" input-medium">
                            <input type="hidden" value="{{ app.request.query.get('vendor') }}" class="form-control  fontColorBlack
                     select2AutoComplete" placeholder="Select Vendor" name="vendor">
                        </div>
                    </td>
                    <td>
                        <input type="submit" value="Search" class="btn blue" style="margin-left:25px;">
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="modal-footer" style="border-top:none;text-align:left;margin-bottom:10px;width: 100%;">
        <input type="button" value="Export in pdf" name="supplierReportPdf" id="supplierReportPdf" class="btn blue">
    </div>

    <table class="table-bordered table-striped table-condensed flip-content responsiveDiv dataTable" id="listPo">
        <thead class="flip-content"  style="background: #4b8df8">
        <tr>
            <th class="numeric">Sl</th>
            <th class="numeric">Vendor Name</th>
            <th class="numeric">PO Date</th>
            <th class="numeric">PO No</th>
            <th class="numeric">GRN</th>
            <th class="numeric">PO Amount</th>
            <th class="numeric">Advance Amount</th>
            <th class="numeric">Payment Amount</th>
            <th class="numeric">Bank</th>
            <th class="numeric">Cheque</th>
        </tr>
        </thead>
        <tbody>

        {% for index ,payment in payments %}

            <tr>
                <td class="numeric">{{ index+1 }}.</td>
                <td class="numeric">{{ payment['vendorName']| default('') }}</td>
                <td class="numeric">{{ payment['poDate'] | date('Y-m-d') }}</td>
                <td class="numeric">{{ payment['poId'] | default('') }}</td>
                <td class="numeric">{{ payment['grnId'] | default('') }}</td>
                <td class="numeric">{{ payment['poAmount'] | number_format(2, '.', ',')  }}</td>
                <td class="numeric">{{ payment['advanceAmount'] |number_format(2, '.', ',') }}</td>
                <td class="numeric">{{ payment['paymentAmount'] | number_format(2, '.', ',')  }}</td>
                <td class="numeric">{{ payment['bankName'] | default('') }}</td>
                <td class="numeric">{{ payment['cheque'] | default('') }}</td>

            </tr>
            {#<tr>
                <td class="numeric">{{ index+1 }}.</td>
                <td class="numeric">{{ payment.vendor.vendorName | default('') }}</td>
                <td class="numeric">{{ payment.purchaseOrder.createdDate | date('Y m d') }}</td>
                <td class="numeric">{{ payment.purchaseOrder.id | default('') }}</td>
               &#123;&#35; <td class="numeric">{% for rfp in payment.readyForPayments %}
                        {{ rfp.grn.id | default('ADV') }},
                    {% endfor %}</td>&#35;&#125;
                <td class="numeric">{{ payment.purchaseOrder.netTotal | number_format(2, '.', ',')  }}</td>
                <td class="numeric">{{ payment.purchaseOrder.advancePaymentAmount |number_format(2, '.', ',') }}</td>
                &#123;&#35;<td class="numeric">{{ payment.paymentAmount | number_format(2, '.', ',')  }}</td>&#35;&#125;
                &#123;&#35;<td class="numeric">{{ payment.relatedBank.name | default('') }}</td>&#35;&#125;
                &#123;&#35;<td class="numeric">{{ payment.cheque | default('') }}</td>&#35;&#125;

            </tr>#}
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
{#<script>#}
{% block documentready %}
    {{ parent() }}

    $('#supplierReportPdf').click(function () {

        setTimeout(function(){
            $('#supplier_payment_report').attr('action', '{{ path('report_supplier_payment_pdf') }}');
        }, 1000);

        $.ajax({
            form: 'supplier_payment_report',
            url: Routing.generate('report_supplier_payment_pdf'),
            dataType: 'form html'
        });
    });

var $url = Routing.generate('report_supplier_payment_auto_vendor');
var selectedItemId = {{ app.request.query.get('vendor')}}

        $(".select2AutoComplete").select2({

            ajax: {

                url: $url,
                dataType: 'json',
                delay: 250,
                data: function (params, page) {
                    return {
                        q: params,
                        page_limit: 100
                    };
                },
                results: function (data, page) {
                    return {
                        results: data
                    };
                },
                cache: true
            },
            escapeMarkup: function (m) {

                return m;
            },
            formatResult: function(vendor){ return vendor.text}, // omitted for brevity, see the source of this page
            formatSelection: function(vendor){return vendor.text}, // omitted for brevity, see the source of this page
            initSelection: function(element, callback) {

                $.ajax({
                    url: $url,
                    data: 'vendor=' + selectedItemId,
                    dataType: 'json'
                }).done(function(data){
                    callback(data);
                });
            },
            allowClear: true,
            minimumInputLength:1
        });

{% endblock documentready %}