{% extends 'base.html.twig' %}

{% block body %}

    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h3 class="page-title">
                Three Sixty Degree Report
                <small></small>
            </h3>
            <ul class="page-breadcrumb breadcrumb" style="height: 36px;">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{ path('homepage') }}" style="color: #333 !important;">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="{{ path('report_vendor_status') }}" style="color: #333 !important;">Report</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#" style="color: #333 !important;"> Three Sixty Degree Report</a>
                </li>
                <li class="pull-right" style="margin-right: -7px;">
                    <div data-placement="" style="font-family: 'Open Sans', sans-serif; color: #f5f5f5; padding-top: 8px;text-align: center;margin-top: -8px;width: 124%;background: #e02222;height: 36px;">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </div>
                </li>
            </ul>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">

            <form action="{{ path('report_three_sixty_degree') }}" method="get" name="three_sixty_degree_report" id="three_sixty_degree_report">
                <div class="portlet-body flip-scroll">
                    <table id="table_project_cost" class="table-striped table-condensed flip-content">
                        <tr>
                            <td class="numeric">
                                <div class="input-group input-small date date-picker" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                                    <span class="input-group-btn"></span>
                                    {{ form_widget(form.start_date, { 'attr': {'class': 'form-control start_date'} }) }}
                                </div>
                            </td>
                            <td class="numeric">
                                <div class="input-group input-small date date-picker" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                                    <span class="input-group-btn"></span>
                                    {{ form_widget(form.end_date, { 'attr': {'class': 'form-control end_date'} }) }}
                                </div>
                            </td>
                            <td class="numeric">
                                {{ form_widget(form.category, { 'attr': {'class': 'form-control select2me fontColorBlack', 'placeholder': ' Select Category'} }) }}
                            </td>
                            <td class="numeric">
                                {{ form_widget(form.project, { 'attr': {'class': 'form-control select2me fontColorBlack', 'placeholder': ' Select Item'} }) }}
                            </td>
                            <td class="numeric">
                                <input type="submit" value="Search" class="btn blue">
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
        <!--BEGIN TABS-->
        <div class="span12">
            <div class="modal-footer fa-align-left">
                <input type="button" value="Export in excel" name="itemReportExcel" id="itemReportExcel" class="btn blue">
            </div>

            <div class="portlet-body flip-scroll">
                <table class="table-bordered table-striped table-condensed flip-content">
                    <thead class="flip-content"  style="background: #4b8df8">
                    <tr>
                        <th class="numeric">Project</th>
                        <th class="numeric">Area</th>
                        <th class="numeric">Item Name</th>
                        <th class="numeric">Unit</th>
                        <th class="numeric">Total PR Qty</th>
                        <th class="numeric">Total PR Cancel Qty</th>
                        <th class="numeric">Avg Rate</th>
                        <th class="numeric">Item Amount</th>
                        <th class="numeric">PO Qty</th>
                        <th class="numeric">PO Closed Qty</th>
                        <th class="numeric">Grn Qty</th>
                        <th class="numeric">Issue Qty</th>
                </tr>
                    </thead>
                <tbody>
                {% for list in lists %}
                    <tr class="numeric">
                        <td>{{ list['project'] }}</td>
                        <td>{{ list['areaName'] }}</td>
                        <td>{{ list['item'] }}</td>
                        <td>{{ list['unit'] }}</td>
                        <td>{{ list['prQty'] }}</td>
                        <td>{{ list['PrCancelQty'] }}</td>
                        <td>{{ (list['PoQty'] ? list['itemPrice']/list['PoQty']:0)|number_format(2, '.', ',') }}</td>
                        <td>{{ list['itemPrice']|number_format(2, '.', ',') }}</td>
                        <td>{{ list['PoQty'] }}</td>
                        <td>{{ list['PoCloseQty'] }}</td>
                        <td>{{ list['grnQty'] }}</td>
                        <td>{{ list['issueQty'] }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock %}

{% block documentready %}
{{ parent() }}

    $('#itemReportExcel').click(function () {

    setTimeout(function(){
    $('#three_sixty_degree_report').attr('action', '{{ path('report_three_sixty_degree') }}');
    }, 1000);

    $.ajax({
    form: 'three_sixty_degree_report',
    url: Routing.generate('report_three_sixty_degree_excel'),
    dataType: 'form html'
    });
    });

{% endblock documentready %}