{% extends 'base.html.twig' %}

{% block body %}

    <!-- BEGIN PAGE HEADER-->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h3 class="page-title">
                User PO Creator List
                <small></small>
            </h3>
            <ul class="page-breadcrumb breadcrumb" style="height: 36px;">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{ path('homepage') }}" style="color: #333 !important;">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="{{ path('report_user_activities_po_creator') }}" style="color: #333 !important;">Report</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#" style="color: #333 !important;">User PO Creator List</a>
                </li>
                <li class="pull-right">
                    <div id="" class="" data-placement="" style="font-family: 'Open Sans', sans-serif; color: #f5f5f5; padding-top: 8px;text-align: center;margin-top: -8px;width: 124%;background: #e02222;height: 36px;">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </div>
                </li>
            </ul>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>
    <!-- END PAGE HEADER-->

<div class="row">

    <div class="col-md-12">
        <form action="{{ path('report_user_activities_po_creator') }}" method="get" name="report_user_activities" id="report_user_activities" style="margin-bottom: 20px;">
            <table id="table_project_cost">
                <tbody>
                <tr>
                    <td>
                        <div class="input-group input-small date date-picker" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                            <span class="input-group-btn"></span>
                            {{ form_widget(form.start_date, { 'attr': {'class': 'form-control start_date'} }) }}
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="col-md-1">
                                <div class="input-icon right">
                                    <span style="font-size: 15px;font-weight: bolder;line-height: 30px;">To</span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-small date date-picker" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                            <span class="input-group-btn"></span>
                            {{ form_widget(form.end_date, { 'attr': {'class': 'form-control end_date'} }) }}
                        </div>
                    </td>
                    <td>
                        <input type="submit" value="Search" class="btn blue" style="margin-left: 55px;">
                    </td>
                </tr>
                </tbody>
            </table>
        </form>

    </div>

    <div class="col-md-12" style="float: left;">
        <div class="modal-footer" style="border-top:none;text-align:left;margin-bottom:10px;width: 100%;">
            <input type="button" value="Export in excel" name="userActivitiesExcel" id="userActivitiesExcel" class="btn blue">
        </div>
        <table class="table table-striped table-hover">
            <thead style="background: #4b8df8;color: #fff;">
            <tr>
                <th>Sl</th>
                <th class="col-md-4">Name</th>
                <th class="col-md-3">Total No of PO</th>
                <th class="col-md-5">PO Issued</th>
            </tr>
            </thead>
            <tbody>

            {% for index, purchaseOrder in purchaseOrders %}
                {% set po_index=purchaseOrder['username'] %}
                <tr>
                    <td>{{ index + 1 }}.</td>
                    <td>{{ purchaseOrder.username }}</td>
                    <td>{{ purchaseOrder[po_index] }}</td>
                    <td>{{ purchaseOrder.totalPoUserWise }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}

{% block documentready %}
    {{ parent() }}

    $('#userActivitiesExcel').click(function () {

    setTimeout(function(){
    $('#report_user_activities').attr('action', '{{ path('report_user_activities_po_creator') }}');
    }, 1000);

    $.ajax({
    form: 'report_user_activities',
    url: Routing.generate('report_user_activities_po_creator_excel'),
    dataType: 'form html'
    });
    });

{% endblock %}