{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h3 class="page-title">
                Company Setting
                <small></small>
            </h3>
            <ul class="page-breadcrumb breadcrumb" style="height: 36px;">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="/" style="color: #333 !important;">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="fa fa-cogs"></i>
                    <a href="#" style="color: #333 !important;">Setting</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="/company" style="color: #333 !important;">Company Setting</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li><a href="#" style="color: #333 !important;">Form</a></li>
                <li class="pull-right">
                    <div id="" class="" data-placement="" style="font-family: 'Open Sans', sans-serif; color: #f5f5f5; padding-top: 8px;text-align: center;margin-top: -8px;width: 124%;background: #e02222;height: 36px;">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </div>
                </li>
            </ul>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>
    <!-- END PAGE HEADER-->

    <div class="modal-dialog bodyWidth">
        <div class="modal-content backgroundWhite">
            <div class="modal-header backGroundLightGrey">
                <h4 class="modal-title bold text-center">Company Setting</h4>
            </div>
<br/>
            {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'id': 'area-form', 'novalidate': 'novalidate'} }) }}
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" style="margin-top: 25px;">
                        <div class="form-group">
                            {{ form_label(form.name, 'Name :', {'label_attr': {'class': 'control-label col-md-2', 'style' : 'margin-right:-60px;' } }
                            ) }}
                            <div class="col-md-8">
                                <div class="input-icon">
                                    <i class="fa"></i>
                                    {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'style': 'padding-left: 10px !important;'} }) }}
                                </div>
                                <span class="help-block validation" style="color:darkred;">{{ form_errors(form.name) }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-top: 25px;">
                        <div class="form-group">
                            {{ form_label(form.details, 'Details :', {'label_attr': {'class': 'control-label col-md-2', 'style' : 'margin-right:-60px;' } }
                            ) }}
                            <div class="col-md-8">
                                <div class="input-icon">
                                    <i class="fa"></i>
                                    {{ form_widget(form.details, { 'attr': {'class': 'form-control', 'style': 'padding-left: 10px !important;'} }) }}
                                </div>
                                <span class="help-block validation" style="color:darkred;">{{ form_errors(form.details) }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.file, 'File Attach :', {'label_attr': {'class': 'control-label col-md-3', 'style' : 'margin-right:-132px;' } } ) }}
                        <div class="col-md-8">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="input-group">
													<span class="input-group-btn">
													<span class="uneditable-input">
													<i class="fa fa-file fileupload-exists"></i>
													<span class="fileupload-preview"></span>
													</span>
													</span>
													<span class="btn default btn-file">
													<span class="fileupload-new"><i class="fa fa-paper-clip"></i> Select file</span>
													<span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                                                        {{ form_widget(form.file, { 'attr': {'class': 'default'} }) }}
													</span>
                                    <a href="form_component.html#" class="btn red fileupload-exists" data-dismiss="fileupload"><i class="fa fa-trash-o"></i> Remove</a>
                                </div>
                            </div>
                            <span class="help-block validation" style="color:darkred;margin-left:-40px;">{{ form_errors(form.file) }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background: lightgrey;">
                {{ form_widget(form.save, { 'attr': {'class': 'btn button-width', 'style': 'width: 100px;background: #0353D6; color: white !important;'} }) }}
            </div>
            {{ form_end(form) }}

    </div>
    </div>

{% endblock %}