{% extends 'base.html.twig' %}

{% block body %}

    <!-- BEGIN PAGE HEADER-->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h3 class="page-title">
                Purchase Type
                <small></small>
            </h3>
            <ul class="page-breadcrumb breadcrumb" style="height: 36px;">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{ path('homepage') }}" style="color: #333 !important;">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="fa fa-cogs"></i>
                    <a href="#" style="color: #333 !important;">Setting</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#" style="color: #333 !important;">Purchase Type</a>
                </li>
                <li class="pull-right">
                    <div id="" class="" data-placement="" style="font-family: 'Open Sans', sans-serif; color: #f5f5f5; padding-top: 8px;text-align: center;margin-top: -8px;width: 124%;background: #e02222;height: 36px;">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </div>
                </li>
            </ul>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>
    <!-- END PAGE HEADER-->

    {{ include('::flash-message.html.twig') }}

    <span class="PurchaseTYpeTypeMessege"></span>

    <div class="modal-dialog" style="width: 1000px;padding-top: 15px !important;">
        <div class="modal-content" style="background: white;">
            {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'id': 'item-type-form', 'novalidate': 'novalidate'} }) }}
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" style="margin-top: 25px;">
                        <div class="form-group">
                            {{ form_label(form.name, 'Purchase :', {'label_attr': {'class': 'control-label col-md-2', 'style' : 'margin-right:-60px;' } }
                            ) }}
                            <div class="col-md-8">
                                <div class="input-icon">
                                    <i class="fa"></i>
                                    {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'style': 'padding-left: 10px !important;'} }) }}
                                </div>
                                <span class="help-block validation" style="color:darkred;margin-left:-40px;">{{ form_errors(form.name) }}</span>
                            </div>
                            <span class="userMessege" style="margin-left: 185px;"></span>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.shortName, 'Short Form :', {'label_attr': {'class': 'control-label col-md-2', 'style' : 'margin-right:-60px;' } }
                            ) }}
                            <div class="col-md-8">
                                <div class="input-icon">
                                    <i class="fa"></i>
                                    {{ form_widget(form.shortName, { 'attr': {'class': 'form-control', 'style': 'padding-left: 10px !important;'} }) }}
                                </div>
                                <span class="help-block validation" style="color:darkred;margin-left:-40px;">{{ form_errors(form.shortName) }}</span>
                            </div>
                            {{ form_widget(form.submit, { 'attr': {'class': 'btn button-width', 'style': 'width: 100px;background: #0353D6; color: white !important;margin-top:2px;margin-left:10px;height:32px;'} }) }}
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    <!--BEGIN TABS-->
    <div class="tabbable tabbable-custom">
    <ul class="nav nav-tabs">
        <li class="{% if status == 'active' %}active{% endif %}"><a class="tabForTable" style="color: black !important;" href="{{ path('purchase_type',{status:'active'} ) }}">All</a></li>
        <li class="{% if status == 'delete' %}active{% endif %}"><a class="tabForTable" style="color: black !important;" href="{{ path('purchase_type',{status:'delete'} ) }}">Deleted</a></li>
    </ul>
    <div class="tab-content" style="height: auto;background: #eee;">
    <div class="tab-pane active">
        <div data-always-visible="1" data-rail-visible="0">

            <div class="fluid" id="purchase-type-refresh">
                <div class="form-group">
                    <div class="col-md-12" style="margin-top: 30px;">

                        <table class="table bold" style="border: 1px solid ghostwhite;">
                            <thead style="background: #4b8df8;color: #fff;">
                            <tr>
                                <th>Sl</th>
                                <th class="col-md-2">Short Form</th>
                                <th class="col-md-5">Name</th>
                                <th class="col-md-3"></th>
                                <th class="col-md-2"></th>
                            </tr>
                            </thead>
                            <tbody>

                            {% set offset = purchaseTypes.getItemNumberPerPage * (purchaseTypes.currentPageNumber - 1) %}

                            {% for purchaseType in purchaseTypes %}

                                <tr style="height: 38px;background: #fff;border-top: 3px solid #eee !important;">
                                    <td>{{ loop.index + offset }}.</td>
                                    <td>{{ purchaseType.shortName }}</td>
                                    <td>{{ purchaseType.name }}</td>
                                    <td></td>
                                    <td>
                                        {% if purchaseType.status == 1 %}
                                            <a href="/purchase-type/delete/{{ purchaseType.id }}" style="width: 65px;" class="btn default btn-xs"><i
                                                        class="fa fa-trash-o"></i> Delete</a>

                                            <a href="/purchase-type/update/{{ purchaseType.id }}" style="width: 65px;" class="btn default btn-xs"><i
                                                        class="fa fa-edit"></i> Update</a>
                                        {% endif %}
                                        {% if purchaseType.status == 0 %}
                                            <a href="#" style="width: 65px;" class="btn default btn-xs">Deleted</a>
                                            <a href="/purchase-type/active/{{ purchaseType.id }}" class="btn default btn-xs" style="width: 65px;"><i
                                                        class="fa fa-repeat"></i> Restore</a>
                                        {% endif %}
                                    </td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="navigation" style="text-align: right">
                            {{ knp_pagination_render(purchaseTypes) }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
    </div>
    <!--END TABS-->

{% endblock %}

{% block documentready %}
{{ parent() }}

        $("#purchasetype_name").keyup(function () {
            var purchasetype = $(this).val();

            $.ajax({
                type: "post",
                url: Routing.generate('purchase_type_check'),
                data: "purchasetype=" + purchasetype,
                dataType: 'json',
                success: function (msg) {
                    if (msg.responseCode == 200) {
                        $('.userMessege').css('color', 'red').html(msg.purchaseType_name).fadeIn(1000);
                    }
                    else {
                        $('.userMessege').css('color', 'green').html(msg.purchaseType_name).fadeIn(1000);
                    }
                }
            });
        });

{% endblock %}