{% extends 'base.html.twig' %}

{% block body %}

    <style>
        .pagination > li > a, .pagination > li > span
        {
            background-color: #eee !important;
            color: #000000 !important;
        }
        .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
            background-color: #428bca !important;
        }

    </style>
    <!-- BEGIN PAGE HEADER-->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h3 class="page-title">
                Issue Report
                <small></small>
            </h3>
            <ul class="page-breadcrumb breadcrumb" style="height: 36px;">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="/" style="color: #333 !important;">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="{{ path('delivery_list') }}" style="color: #333 !important;">Delivery</a>
                </li>
                <li class="pull-right">
                    <div id="" class="" data-placement="" style="font-family: 'Open Sans', sans-serif; color: #f5f5f5; padding-top: 8px;text-align: center;margin-top: -8px;width: 124%;background: #e02222;height: 36px;">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </div>
                </li>
            </ul>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>
    <!-- END PAGE HEADER-->

    {{ include('::flash-message.html.twig') }}

    <span class="buyerMessege"></span>

    <div class="span12">

        <form action="" method="get" style="margin-bottom:10px;" id="deliveryStockFrm">
            <div class="portlet-body flip-scroll">
                <table id="table_project_cost" class="table-striped table-condensed flip-content">
                    <tbody>
                    <tr class="numeric">
                        <td>
                            <div class="input-group input-small date date-picker" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                                <span class="input-group-btn"></span>
                                {{ form_widget(form.start_date, { 'attr': {'class': 'form-control start_date'} }) }}
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-small date date-picker" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                                <span class="input-group-btn"></span>
                                {{ form_widget(form.end_date, { 'attr': {'class': 'form-control end_date'} }) }}
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-medium">
                                {#{{ form_widget(form.item, { 'attr': {'class': 'form-control fontColorBlack select2AutoComplete', 'placeholder': ' Select Item'} }) }}#}
                                <input type="hidden" value="{{ app.request.query.get('item') }}" class="form-control  fontColorBlack
                     select2AutoComplete" placeholder="Select Item" name="item">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-medium">
                                {{ form_widget(form.project, { 'attr': {'class': 'form-control select2me fontColorBlack'} }) }}
                            </div>
                        </td>
                        <td>
                            <input type="submit" value="Search" class="btn blue" style="margin-left: 50px;">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <div class="modal-footer" style="border-top:none;text-align:left;margin-bottom:10px;width: 100%;">
        <input type="button" value="Export in excel" name="deliveryReportExcel" id="deliveryReportExcel" class="btn blue">
    </div>
    <!--BEGIN TABS-->
    <div class="tabbable tabbable-custom">
        <div class="tab-content style-content">
            <div class="tab-pane active" id="tab_1_1">
                <div class="" data-always-visible="1" data-rail-visible="0">

                    <div class="fluid" id="project-list-div">
                        <div class="form-group">

                            <div class="portlet-body flip-scroll">
                                <table class="table-bordered table-striped table-condensed flip-content responsiveDiv">
                                    <thead class="flip-content"  style="background: #4b8df8">
                                    <tr>

                                        <th class="numeric">Sl</th>
                                        <th class="numeric">Item</th>
                                        <th class="numeric">Unit</th>
                                        <th class="numeric">Qty</th>
                                        <th class="numeric">Avg Price</th>
                                        <th class="numeric">Issue Date</th>
                                        <th class="numeric">Issued By</th>
                                        <th class="numeric">Issued To</th>
                                        <th class="numeric">Project From</th>
                                        <th class="numeric">Project To</th>
                                        <th class="numeric">Gate Pass No</th>
                                        <th class="numeric">Category</th>
                                        <th class="numeric">Sub Category</th>
                                        <th class="numeric">Cost Header</th>
                                        <th class="numeric">Delivery Type</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                        {% for index, deliveryList in deliveryLists %}

{#{{ dump(deliveryList.deliveryItem[index].item) }}#}
                                        <tr>
                                            <td class="numeric">{{ index+1 }}</td>
                                            {#<td>
                                                <table>
                                                    <thead class="flip-content"  style="background: #4b8df8">
                                                    <tr>
                                                        <td>Item Name</td>
                                                        <td>Unit</td>
                                                        <td>Qty</td>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                {%  for  item in deliveryList.deliveryItem  %}
                                                            <tr>
                                                                <td class="numeric">{{ deliveryList.item.itemName }}</td>
                                                                <td class="numeric">{{ deliveryList.item.itemUnit }}</td>
                                                                <td class="numeric">{{ deliveryList.quantity }}</td>
                                                            </tr>
                                                {% endfor %}
                                                    </tbody>
                                                </table>
                                            </td>#}
                                            <td class="numeric">{{ deliveryList.item.itemName }}</td>
                                            <td class="numeric">{{ deliveryList.item.itemUnit }}</td>
                                            <td class="numeric">{{ deliveryList.quantity }}</td>
                                            <td class="numeric">{{ deliveryList.avgPrice|number_format(2, '.', ',')}}</td>
                                            <td class="numeric">{{ deliveryList.delivery.CreatedDate | date('d M Y') }}</td>
                                            <td class="numeric">{{ deliveryList.delivery.CreatedBy }}</td>
                                            {% if deliveryList.delivery.customerId is not null %}
                                            <td class="numeric">{{ deliveryList.delivery.customerId }}</td>
                                                {% else %}
                                            <td class="numeric">{{ deliveryList.delivery.issuedToCustomer|default('') }}</td>
                                             {% endif %}

                                            <td class="numeric">{{ deliveryList.delivery.project.projectName }}</td>
                                            <td class="numeric">{{ deliveryList.delivery.issuedToProject.projectName|default }}</td>
                                            <td class="numeric">{{ deliveryList.delivery.getPass }}</td>
                                            <td class="numeric">{{ deliveryList.delivery.category.categoryName|default }}</td>
                                            <td class="numeric">{{ deliveryList.delivery.subCategory.subCategoryName|default }}</td>
                                            <td class="numeric">{{ deliveryList.delivery.costHeader.title|default }}</td>
                                            <td class="numeric">{{ deliveryList.delivery.deliveryType|default }}</td>

                                        </tr>

                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div class="navigation text-right">
                                    {#{{ knp_pagination_render(deliveryLists) }}#}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--END TABS-->

{% endblock %}

{% block documentready %}
    {{ parent() }}
{#<script>#}
//     $('select').select2();

    var $url = Routing.generate('item_auto_delivery_complete');
    var selectedItemId = {{ app.request.query.get('item')}}

    $(".select2AutoComplete").select2({

        ajax: {

            url: $url,
            dataType: 'json',
            delay: 250,
            data: function (params, page) {
                return {
                    q: params,
                    page_limit: 100
                };
            },
            results: function (data, page) {
                return {
                    results: data
                };
            },
            cache: true
        },
        escapeMarkup: function (m) {

            return m;
        },
        formatResult: function(item){ return item.text}, // omitted for brevity, see the source of this page
        formatSelection: function(item){return item.text}, // omitted for brevity, see the source of this page
        initSelection: function(element, callback) {

            $.ajax({
                url: $url,
                data: 'item=' + selectedItemId,
                dataType: 'json'
            }).done(function(data){
                callback(data);
            });
        },
        allowClear: true,
        minimumInputLength:1
    });

$('#deliveryReportExcel').click(function () {

    setTimeout(function(){
        $('#deliveryStockFrm').attr('action', '{{ path('delivery_report') }}');
    }, 1000);

    $.ajax({
        form: 'deliveryStockFrm',
        url: Routing.generate('delivery_report_bundle_excel'),
        dataType: 'form html'
    });
});




{% endblock %}