{% extends 'base.html.twig' %}

{% block body %}

        <!-- BEGIN PAGE HEADER-->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                <h3 class="page-title">
                    Add Transaction History
                    <small></small>
                </h3>
                <ul class="page-breadcrumb breadcrumb" style="height: 36px;">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="/" style="color: #333 !important;">Home</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#" style="color: #333 !important;">Transaction History</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li><a href="#" style="color: #333 !important;">Add Transaction History</a></li>
                    <li class="pull-right">
                        <div id="" class="" data-placement="" style="font-family: 'Open Sans', sans-serif; color: #f5f5f5; padding-top: 8px;text-align: center;margin-top: -8px;width: 124%;background: #e02222;height: 36px;">
                            <i class="fa fa-calendar"></i>
                            {{ "now"|date("d-F-Y") }}
                        </div>
                    </li>
                </ul>
                <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
        </div>
        <!-- END PAGE HEADER-->

        <div class="modal-dialog" style="width: 1000px;">
            <div class="modal-content" style="background: white;">
                <div class="modal-header" style="background: lightgrey;">
                    <h4 class="modal-title bold" style="text-align: center;">Transaction</h4>
                </div>
                <br/>
                {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'id': 'Bank-form', 'novalidate': 'novalidate'} }) }}
                <div class="modal-body">


                    <div class="row">

                        <div class="col-md-12">

                            <div class="form-group">
                                {{ form_label(form.dateOfRequiredText, 'Date :', {'label_attr': {'class': 'control-label col-md-2', 'style': '' } }
                                ) }}
                                <div class="col-md-1">
                                    <div class="input-group input-small date date-picker" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                                        <span class="input-group-btn"></span>
                                        {{ form_widget(form.dateOfRequiredText, { 'attr': {'class': 'form-control', 'style': 'width: 100px;padding-left: 10px! important;'} }) }}
                                    </div>
                                    <span class="help-block" style=" margin-left:-39px; color:darkred;">{{ form_errors(form.dateOfRequiredText) }}</span>

                                </div>
                                {{ form_label(form.transactionHistoryAmount, 'Amount', {'label_attr': {'class': 'control-label col-md-1', 'style': '' } }
                                ) }}
                                <div class="col-md-2">
                                    <div class="input-icon">
                                        {{ form_widget(form.transactionHistoryAmount, { 'attr': {'class': 'form-control col-md-2', 'style': 'padding-left: 10px !important;'} }) }}
                                    </div>
                                    <span class="help-block" style="margin-left: -40px;color:darkred;">{{ form_errors(form.transactionHistoryAmount) }}</span>
                                </div>
                                {{ form_label(form.transactionType, 'As', {'label_attr': {'class': 'control-label col-md-1', 'style': 'margin-left:-11px' } }
                                ) }}
                                <div class="col-md-2">
                                    <div class="input-icon">
                                        <div class="input-group">
                                            {{ form_widget(form.transactionType, { 'attr': {'id': 'bankTransaction', 'class': 'form-control', 'style': 'width:161px'} }) }}
                                        </div>
                                    </div>
                                    <span class="help-block" style="margin-left: -40px;color:darkred;">{{ form_errors(form.notes) }}</span>
                                </div>

                            </div>
                            {#<div class="form-group">
                                <label class="col-md-1 control-label">To:</label>
                                <div class="col-md-4">
                                    <div class="input-icon">
                                        <div class="input-group">
                                            {{ form_widget(form.transactTo, { 'attr': {'id': 'bankTransaction', 'class': 'form-control', 'style': 'width: 200px;margin-left: 82px;'} }) }}
                                        </div>
                                    </div>
                                    <span class="help-block" style="margin-left: 40px;color:darkred;">{{ form_errors(form.transactTo) }}</span>
                                </div>
                            </div>#}
                            <div class="form-group">
                                {{ form_label(form.notes, 'Comments :', {'label_attr': {'class': 'control-label col-md-2', 'style': '' } }
                                ) }}
                                <div class="col-md-8">
                                    <div class="input-icon">
                                        {{ form_widget(form.notes, { 'attr': {'class': 'form-control col-md-4', 'style': 'height:72px;max-height:72px;width:615px;max-width:615px;'} }) }}
                                    </div>
                                    <span class="help-block" style="margin-left: -40px;color:darkred;">{{ form_errors(form.notes) }}</span>
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form_label(form.file, 'File One', {'label_attr': {'class': 'control-label col-md-2', 'style': 'margin-left: 0px;' } } ) }}
                                <div class="col-md-9" style="margin-left: -45px;">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="input-group">
													<span class="input-group-btn">
													<span class="uneditable-input" style="margin-left:101px;">
													<i class="fa fa-file fileupload-exists"></i>
													<span class="fileupload-preview"></span>
													</span>
													</span>
													<span class="btn default btn-file">
													<span class="fileupload-new"><i class="fa fa-paper-clip"></i> Select file</span>
													<span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                                                        {{ form_widget(form.file, { 'attr': {'class': 'default'} }) }}
													</span>
                                            <a href="form_component.html#" class="btn red fileupload-exists" data-dismiss="fileupload"><i class="fa fa-trash-o"></i> Remove</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(form.fileTwo, 'File Two', {'label_attr': {'class': 'control-label col-md-2', 'style': 'margin-left: 0px;' } } ) }}
                                <div class="col-md-9" style="margin-left: -45px;">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="input-group">
													<span class="input-group-btn">
													<span class="uneditable-input" style="margin-left:101px;">
													<i class="fa fa-file fileupload-exists"></i>
													<span class="fileupload-preview"></span>
													</span>
													</span>
													<span class="btn default btn-file">
													<span class="fileupload-new"><i class="fa fa-paper-clip"></i> Select file</span>
													<span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                                                        {{ form_widget(form.fileTwo, { 'attr': {'class': 'default'} }) }}
													</span>
                                            <a href="form_component.html#" class="btn red fileupload-exists" data-dismiss="fileupload"><i class="fa fa-trash-o"></i> Remove</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(form.fileThree, 'File Three', {'label_attr': {'class': 'control-label col-md-2', 'style': 'margin-left: 0px;' } } ) }}
                                <div class="col-md-9" style="margin-left: -45px;">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="input-group">
													<span class="input-group-btn">
													<span class="uneditable-input" style="margin-left:101px;">
													<i class="fa fa-file fileupload-exists"></i>
													<span class="fileupload-preview"></span>
													</span>
													</span>
													<span class="btn default btn-file">
													<span class="fileupload-new"><i class="fa fa-paper-clip"></i> Select file</span>
													<span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                                                        {{ form_widget(form.fileThree, { 'attr': {'class': 'default'} }) }}
													</span>
                                            <a href="form_component.html#" class="btn red fileupload-exists" data-dismiss="fileupload"><i class="fa fa-trash-o"></i> Remove</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                    </div>
                </div>
                <div class="modal-footer" style="background: lightgrey;">
                    <div class="btn-group">
                        <a href="/transaction/history" class="btn" style="width: 100px;background: #0353D6; color: white !important;">
                            <i class="fa fa-ban"> Cancel</i>
                        </a>
                    </div>
                    {{ form_widget(form.save, { 'attr': {'class': 'btn button-width', 'style': 'width: 100px;background: #0353D6; color: white !important;'} }) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>

    <script type="text/javascript">
    jQuery(document).ready(function () {

    {% block documentready %}
                {{ parent() }}

        $('#pms_pettycashbundle_transaction_bank').change(function (){
            var bank_id = $(this).val();
            alert(bank_id);

            $.ajax({
                type: "post",
                url: Routing.generate('remaining_balance_transaction'),
                data: "bank_id=" + bank_id,
                cache: false,
                dataType: 'json',
                success: function (msg) {
                }
            });
        })

        function remainningBalanceCheck(){
            var remainingValue = $('#pms_pettycashbundle_transaction_transactionAmount').attr('placeholder');
            var currentGetValue = $('#pms_pettycashbundle_transaction_transactionAmount').val();

            if(parseFloat(remainingValue) > parseFloat(currentGetValue)){
                document.getElementById("Bank-form").submit();
            } else {
                alert(currentGetValue + ' amount can not  more than '+ remainingValue);
                return false;
            }

        }

        $('#pms_pettycashbundle_transaction_save').click( function (){
            remainningBalanceCheck();
        });

    {% endblock %}
    });
    </script>

{% endblock %}