<h3 class="page-title">
    NPMS
</h3>

<small> Pending for item  Claimed list </small>
<table style="width:100%;text-align: left;border: 1px solid #808080;font-family: arial,sans-serif;font-size:9.0pt;color:#414141">
    <thead>
    <tr>
        <th style="width:5%;">Sl</th>
        <th style="width:15%;">PR Number</th>
        <th style="width:20%;">Approval Date</th>
        <th style="width:25%;">Project Name</th>
        <th style="width:25%;">SubCategory Name</th>
        <th style="width:10%;">Status</th>
    </tr>
    </thead>
    <tbody>
    {% for purchaseRequisitionItem in priClaim %}
        <tr>
            <td style="border: 1px solid #808080;">{{ loop.index }}.</td>
            <td style="border: 1px solid #808080;">{{ purchaseRequisitionItem.id }}</td>
            <td style="border: 1px solid #808080;">{{ purchaseRequisitionItem.approvedDateCategoryHeadTwo | date('d-M-Y') }}</td>
            <td style="border: 1px solid #808080;">{{ purchaseRequisitionItem.projectName }}</td>
            <td style="border: 1px solid #808080;">{{ purchaseRequisitionItem.subCategoryName }}</td>
            <td style="border: 1px solid #808080;">
                Not Claim
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
